{
     "env": {
        "browser": true,
        "node": true,
        "es2021": true
    },
    "extends": [
        "airbnb-base"
    ],
    "rules" : {
      "no-underscore-dangle": ["error", { "allow": ["_id"] }],
      "object-shorthand": "off",
      "func-names": "off",
      "no-useless-escape": "off",
      "no-unused-vars": "warn",
      "no-console": "off"
    }
}